[Desktop Entry]
Name=Joplin
Version=1.0
Exec=/opt/apps/org.joplinapp.joplin/files/joplin
Icon=org.joplinapp.joplin
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=TextEditor;
